@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

header {
    text-align: center;
    border-bottom: solid 1px black;

    .title {
        font-family: 'Saira', sans-serif;
        font-size: 6rem;
    }

    .subtitle {
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2rem;
    }

    .language-switch {
        float: right;

        &__option {
            float: left;
            width: 50%;
            padding: .5rem;
            cursor: pointer;
        }
    }
}

footer {
    border-top: solid 1px black;
    margin-top: 1rem;
}

.menu {
    width: 36rem;
    height: 2.8rem;
    font-family: 'Saira', sans-serif;

    &__item {
        height: 3rem;
        width: 12rem;
        float: left;
        margin-top: -1px;
        font-size: 2rem;
        color: black;

        &:hover {
            font-weight: bold;
        }

        &--active {
            border: solid 1px black;
            border-bottom: solid 1px white;

            &:hover {
                font-weight: normal;
            }
        }
    }
}

.home {
    text-align: center;
    margin: 1rem auto 0;
    max-width: 80rem;
}

.resume {
    text-align: justify;
    margin: 1rem auto 0;
    max-width: 80rem;
}

.contact {
    text-align: center;
    margin-top: 1rem;

    .link {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        margin: 1rem 1.5rem;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.experience-entry {
    display: inline-block;

    &__timerange {
        width: 30%;
        float: left;
        padding: 1rem;
    }

    &__details {
        width: 70%;
        float: left;
    }
}

.skills-item {
    display: inline-block;
    width: 100%;
    
    &__name {
        width: 30%;
        float: left;
    }

    &__level {
        width: 70%;
        float: left;
    }
}
