<h1>Skill#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= skillsPath() %>" class="btn btn-info">Back to all Skills</a></li>
  <li><a href="<%= editSkillPath({ skill_id: skill.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= skillPath({ skill_id: skill.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= skill.Name %>
</p>
<p>
  <strong>Category</strong>: <%= skill.Category %>
</p>
<p>
  <strong>Level</strong>: <%= skill.Level %>
</p>
