<nav class="menu">
    <a href="/">
        <div class="menu__item<%= if (isCurrentPath("rootPath"))   { %> menu__item--active<% } %>">
            <%= t("menu-home") %>
        </div>
    </a>
    
    <a href="/resume">
        <div class="menu__item<%= if (isCurrentPath("resumePath")) { %> menu__item--active<% } %>">
            <%= t("menu-resume") %>
        </div>
    </a>
    <a href="/contact">
        <div class="menu__item<%= if (isCurrentPath("contactPath")) { %> menu__item--active<% } %>">
        <%= t("menu-contact") %>
        </div>
    </a>
</nav>
