<html>
  <head>
    <meta charset="utf-8">
    <title>Paweł Słomka</title>
    <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />

    <link href="https://fonts.googleapis.com/css?family=Saira|Sedgwick+Ave&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>

    <div>
      <header>
          <div class="language-switch">
            <div class="language-switch__option language-switch__option--en" onclick="switchLanguage('en-us')">EN</div>
            <div class="language-switch__option language-switch__option--pl" onclick="switchLanguage('pl-pl')">PL</div>
          </div>

        <div>
          <h1 class="title">Paweł Słomka</h1>
          <h2 class="subtitle">
            <%= t("page-subtitle") %>
          </h2>
        </div>
        <%= partial("menu.html") %>
      </header>

      <%= partial("flash.html") %>
      <%= yield %>

      <footer>
          <%= t("footer-prefix") %> <a href="http://gobuffalo.io/">gobuffalo.io</a>
      </footer>
    </div>

    <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
