<div class="contact">
    <p>
        <%= t("contact-message") %>
    </p>

    <div class="mail">
        <a class="link" href="mailto:pslomka@pslomka.com">
            <span class="fa fa-4x fa-envelope-o" aria-hidden="true"></span>
        </a>
    </div>

    <div class="social">
        <a class="link" href="https://twitter.com/pawel_slomka">
            <span class="fa fa-4x fa-twitter"></span>
        </a>

        <a class="link" href="https://pl.linkedin.com/in/pawelslomka">
            <span class="fa fa-4x fa-linkedin-square"></span>
        </a>

        <a class="link" href="https://github.com/slomek">
            <span class="fa fa-4x fa-github"></span>
        </a>

        <a class="link" href="https://www.facebook.com/slomka.pawel">
            <span class="fa fa-4x fa-facebook-square"></span>
        </a>
    </div>
</div>