<div class="resume">
    <div class="experience">
        <h2>Experience</h3>
        <div class="experience-entries">
            <%= for (e) in experience { %>
                <div class="experience-entry">
                    <div class="experience-entry__timerange">
                        <%= e.From.Format("Jan 2006") %>
                        -
                        <%= e.To.Format("Jan 2006") %>
                    </div>
                    <div class="experience-entry__details">
                        <h4><%= e.Position %></h4>
                        <h5><%= e.Company %></h5>
                        <p><%= e.Description %></p> 
                    </div>
                </div>
            <% } %> 
        </div>

    </div>

    <div class="skills">
        <h2>Skills</h3>
        <%= for (category, skills) in skillset { %>
            <div class="skills__category skills">
                <h4><%= category %></h4>
                <%= for (skill) in skills { %>
                <div class="skills__item skills-item">
                    <div class="skills-item__name"><%= skill.Name %></div>
                    <div class="skills-item__level"><%= skill.Level %></div>
                </div>
                <% } %>
            </div>
        <% } %>
    </div>

    
</div>
